*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(30,20,40,0.6),
        rgba(30,20,40,0.6)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW4ziU8YAp2377IaT4EQYoYzPheb5UiQ8U_g&s");

    background-size:cover;
    background-position:center;
}

.login-card{
    width:430px;
    padding:45px;

    border-radius:
    60px 20px 60px 20px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(15px);

    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.login-card h1{
    text-align:center;
    color:#fff;
    font-size:36px;
    font-weight:600;
    letter-spacing:1px;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"]{

    width:100%;
    padding:15px;

    border:none;
    outline:none;

    background:rgba(255,255,255,0.1);

    color:white;

    border-radius:15px;

    border:1px solid rgba(255,255,255,0.2);

    transition:0.3s;
}

.login-card input:focus{
    border-color:#ff7eb3;
    box-shadow:0 0 12px rgba(255,126,179,0.5);
}

.login-card input::placeholder{
    color:rgba(255,255,255,0.7);
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;

    color:white;
    font-size:14px;
}

.options label{
    display:flex;
    gap:6px;
}

.options a{
    color:#ffb6d9;
    text-decoration:none;
}

.options a:hover{
    color:#ffffff;
}

.sign-card button{

    width:100%;
    padding:15px;

    border:none;
    border-radius:15px;

    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:white;
    font-size:17px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.sign-card button:hover{
    transform:translateY(-3px);

    box-shadow:
    0 8px 20px rgba(255,110,199,0.4);
}